* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: hidden;
}

#wrapper {
    height: 100%;
}

h1,
h2 {
    overflow: hidden;
}

/* #preview {
    float: inline-start;
    width: 60%;

} */

.clear-unfix {
    clear: both;
}

.float-right {
    float: right;
    padding: 5px;
    background: #f4f4f4;
}


header {
    padding: 15px;
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;
}

.container {
    width: 100%;
    height: calc(100% - 53px);
    display: flex;
}

.editor-container {
    width: 49.9%;
    overflow-y: auto;

    /* background-color: aliceblue; */
}

.preview-container {
    width: 49.9%;
    overflow-y: auto;
    /* background-color: antiquewhite; */
}

#editor {
    /* border-right: 1px solid gray; */
    border: 0;
    /* border-right: 10px solid rgb(232, 232, 232); */
    border-top: 1px solid lightgray;
    width: 100%;
    height: calc(100% - 52px);
    padding: 10px;
    font-size: 15px;
    font-family: monospace;
    outline: none;
}

.heading {
    padding: 15px;
    text-align: center;
    color: gray;
    /* border-bottom: 1px solid black; */
}

#preview {
    border-top: 1px solid lightgray;
    border-left: 10px solid rgb(232, 232, 232); 
    /* border-left: 1px solid gray; */
    width: 100%;
    height: calc(100% - 49px);
    padding: 10px;
    font-size: 1rem;
}

blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: .25em solid #dfe2e5;
}

code {
    padding: .2em .4em;
    margin: 0;
    font-size: 1.01rem;
    background-color: rgba(27, 31, 35, .05);
    border-radius: 3px;
}

pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
}

pre code {
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: transparent;
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: initial;
    border: 0;
}